# Python
__pycache__/
*.pyc

# Virtual environments
sfuim_venv/
.venv/
venv/

# OS / Editor
.vscode/
.DS_Store

#User data
backend/data/sessions/
backend/.env
backend/data/label_counts_dev.json
backend/data/*.json

.github/

# Node / Vue
frontend/node_modules/
frontend/dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

/startComment.txt